.post {
  background-size: cover !important;
  background-position: center !important;
}

.post-tag {
  margin: 3px !important;
}
.title{
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: underline;
}